<?xml version="1.0" encoding="UTF-8"?>
	    	<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
	    	<plist version="1.0">
		    <dict>
			<key>KeepAlive</key>
			<false/>
			<key>Label</key>
			<string>ArduinoCreateAgent</string>
			<key>ProgramArguments</key>
			<array><string>/Users/shawt/Applications/ArduinoCreateAgent-1.1/ArduinoCreateAgent.app/Contents/MacOS/Arduino_Create_Bridge</string>
</array>
			<key>RunAtLoad</key>
			<true/>
			
            <key>AbandonProcessGroup</key>
            <true/>
		    </dict>
	    	</plist>